* {
    margin: 0;
    padding: 0;
    transition: all 0.5s;
    box-sizing: border-box;
}
.wrapper {
    display: flex;
    height: 100%;
    width: 100%;
}
.sidebar {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 1.1px;
    width: 100%;
    max-width: 450px;
    height: 100vh;
    background-color: dodgerblue;
    border-right: 1px solid #000;
    transition: 0.5s;
}
nav {
    background-color: dodgerblue;
    width: 100%;
    height: 100px;
}
nav i {
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    font-size: 40px;
    color: #fff;
}
.show {
    display: none;
}